<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<span th:text="${temperature}"></span>

<a href="/logout">Wyloguj</a>
<a href="/login">Zaloguj</a>
<a href="/register">Register</a>
<a href="/product/all">Product list</a>
<a href="/product/add">Add product to list</a>

<h1>Welcome to the shop</h1>



</body>
</html>
