<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product add form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form action="/product/add" method="post" th:object="${productToSave}">
    <div class="form-group">
        <label for="pTitle">Tytul produktu</label>
        <input class="form-control" id="pTitle" type="text" th:field="*{productTitle}" placeholder="Tytuł produktu">
        <br>
    </div>

    <input type="text" th:field="*{productDescription}" placeholder="Opis produktu"><br>
    <input type="text" th:field="*{productImageUrl}" placeholder="Image Url"><br>

    <select class="form-control" type="text" th:field="*{productCategory.productCategoryId}" placeholder="Kategoria produktu"><br>
        <option th:each="pc : ${productCategories}" th:text="${pc.productCategoryTitle}" th:value="${pc.productCategoryId}"></option>
    </select>

    <input type="number" th:field="*{productPrice}" placeholder="Cena produktu"><br>

    <select class="form-control" type="text" th:field="*{productType}" placeholder="Typ produktu"><br>
        <option th:each="c : ${productTypes}" th:text="${c.plName}" th:value="${c.name()}"></option>
    </select>
    <br>
    <input type="text" th:field="*{authorName}" placeholder="Imie autora"><br>
    <input type="text" th:field="*{authorSurname}" placeholder="Nazwisko autora"><br>
    <button class="btn-danger" type="submit">Dodaj produkt</button>
    <br>
    <button class="btn-info" type="reset">RESET</button>
</form>

</body>
</html>