<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" th:each="product : ${products}">
            <div>
                <a th:href="@{'/product/'+${product.id}}">
                    <div class="row" style="border: black solid 1px">
                        <div class="col-md-4" th:text="${product.productTitle}">
                        </div>
                        <img class="col-md-4"
                             th:src="@{${product.productImageUrl}}">
                        <div class="col-md-4" th:text="${product.productPrice}">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <th:block th:each="i: ${#numbers.sequence(0, products.getTotalPages() - 1)}">
        <a class="btn btn-success" th:href="@{/product/all(page=${i})}" th:text="${i+1}"></a>
    </th:block>
</div>
</body>
</html>